.images {
    display: flex;
    gap: 10px;
}

.imageItem {
    position: relative;
    width: 90px;
    height: 90px;
}

.labelInput {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.input {
    display: none;
}