.container{
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.buttonBlock{
    display: flex;
    gap: 10px;
}

.myInfo{
    width: 300px;
    display: flex;
    gap: 12px;
}

.myIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.about{
    display: flex;
    flex-direction: column;
}

.name{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #009ee4;
    cursor: pointer;
}
.name:hover{
    text-decoration: underline;
}

.date{
    line-height: 32px;
}